 	
		#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top: 100px;
  border:1px solid;
  border-color:black
}
 
 
 
 
  textarea{
			height:40px;
		}
		
		h2{
			color:blue;
		}
		
		img{
			width:250px;
			height:200px;
		}
		
        * {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.pic{float:right;  position:relative; width:20%; height:100%; border:2px solid; border-color:blue}

.image{float:right; position:relative; width:14%; height:21%; border:2px solid; border-color:purple}

.row3{height:250px; border:2px solid; border-color:green}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color:blue;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  float:right;
  margin-right:8%;
  width:75%;
}

.col-25, .ld {
  float: left;
  width: 25%;
  margin-top: 6px;
  color:white;
}

.col-55{
  float: right;
  width: 55%;
  margin-top: 6px;
}

.col-75, .rd {
  float: right;
  width: 75%;
  margin-top: 6px;
}



.col-24 {
  float: right;
  width: 24%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row3:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, .col-24, .col-55, .ld, .rd, input[type=submit], .row3, .image, .pic {
    width: 100%;
    margin-top: 0;
  }
}
			.pic{ }

			
			#sub{margin-right:22px; margin-top:-70px;}
			
			.ima{position:absolute; top:40px; left:630px;}
			
			
        .rd2{
				float:right;
				width:auto;
				height:40px;
                                                                        
				margin-right:-250px;
			}


         .rd1{
				float:left;
				width:500px;
				height:40px;
                position:absolute;
				right:180px;
                top:100px;
			}

			.fd{
				width:800px;
				border:#FF0000 ridge thick;
				border-radius:15px 0px 15px 0px;
				height:auto;
				position:relative;
				margin-left:18%;
				margin-top:0%;
				background-color:black;
				alignment-adjust:middle;
				
				
			}
			body{
	             
	             background-size:cover;
				 background-color:#000;
	             font-family:Arial;
	             color:black;
                 background-attachment: fixed;
		         overflow-x: scroll:
		         overflow-y: scroll:
                }

          

table {
  float: left;
  width: 100%;
  height:auto;
  margin-top: 30px;
  border-collapse: collapse;
  margin-left:-400px;
}
tr:hover{
	background-color:yellow;
}
th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
}
tr{
	background-color:white;
}


th {
  background-color: #4CAF50;
  color: white;
}

table{
	margin-left:-350px;
	opacity:0.95;
	
}

@media  screen and (max-width: 600px) {
 .fd {
   width:100%;
   margin-left:-15px;

  }
}

@media  screen and (max-width: 600px) {
 fieldset {
   width:100%;
   margin-top:15%;
   margin-bottom:5%;
   height:auto;
  
  }
}

@media  screen and (max-width: 600px) {
 #pic {
   max-width:30%;
   width:35%;
   float:inherit;
   position:absolute;
   left:200px;
    top:175px;
   
  }
}




  


	  

}
@media screen and (max-width: 600px) {
  .col-25, .col-75, .ld, .rd, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



	


/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
